<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
    <h1>注册</h1>
    <form action="/register/post" method="POST">
        昵称：
        <input type="text" name="name">
        邮箱：
        <input type="text" name="email">
        密码：
        <input type="password" name="password">
        <button type="submit">确认提交</button>
    </form>
</body>
</html>